<div class="login-page">
  <div class="login-container">
    <app-header></app-header>

    <form class="login-form">
      <h1 class="font-w500 fs-2">Sign In</h1>
      <div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
          <label for="floatingInput">Email or mobile number</label>
        </div>
        <div class="form-floating float_success">
          <input [type]="passwordVisible ? 'text' : 'password'"
                 class="form-control"
                 id="floatingPassword"
                 name="password"
                 placeholder="Password"
                 [(ngModel)]="password" />
          <label for="floatingPassword">Password</label>
          <!-- Eye Icon to Toggle Password Visibility -->
          <button type="button"
                  class="btn password_icon"
                  (click)="togglePasswordVisibility()">
            <mat-icon>{{ passwordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
        </div>
      </div>
      <button type="button" class="btn btn-danger signupbtn" (click)="coreService.navigateToRoute('/browse')">Sign In</button>
      <div class="mb-3 text-center">
        <a href="#" class="text-white">Forgot Password?</a>
      </div>
      <div class="mb-3 text-center">
        New to Netflix? <a [routerLink]="'/signup'" role="button" class="text-white">Sign up now</a>
      </div>
    </form>
  </div>
</div>

