<div class="container-fluid bg-dark text-white vh-100" 
     style="background-image: url('https://miro.medium.com/v2/resize:fit:2000/1*hLrWUW2mKy-GTeujcXl0NA.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
   <div class="row h-100">
      <div class="col-12 col-md-6 col-lg-4 mx-auto align-self-center bg-dark bg-opacity-75 p-4 rounded">
         <h1 class="text-center">Sign Up</h1>
         <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
            <div class="mt-3">
               <label for="name" class="form-label">Name:</label> 
               <input type="text" id="name" class="form-control" required [(ngModel)]="modellist.UserName" name="name">
            </div>
            <div class="mt-3">
               <label for="email" class="form-label">Email:</label>
               <input type="email" id="email" class="form-control" required [(ngModel)]="modellist.Email" name="email">
            </div> 
            <div class="mt-3">
               <label for="password" class="form-label">Password:</label>
               <input type="password" id="password" class="form-control" required [(ngModel)]="modellist.Password" name="password">
            </div>
            <div class="mt-3">
               <button type="submit" class="btn btn-primary w-100" [disabled]="!signUpForm.form.valid">Sign Up</button>
            </div>
         </form>
      </div>
   </div>
</div>
