<div class="signup-page">
  <div class="signup-container">
    <app-header [showLanguageDropdown]="true" [showSignInButton]="true"></app-header>

    <!-- Main Content Section -->
    <p class="h1 text-center">Unlimited Movies, TV shows and more</p>
    <p class="d-block fs-5 infotag">Ready to watch? Create your account with your email</p>

    <div class="row align-items-center">
      <!-- Row ensures full-width responsive design -->
      <!-- Email Input -->
      <div class="col-12 col-md-8 mb-3 mb-md-0">
        <!-- Input spans full width on small screens and 8/12 on medium screens -->
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingemail" placeholder="name@example.com" required />
          <label for="floatingemail">Email address</label>
        </div>
      </div>

      <!-- Get Started Button -->
      <div class="col-12 col-md-4 mt-3 mt-md-0">
        <!-- Button: Full width on mobile, 4/12 width on tablet/desktop -->
        <button type="button" class="btn btn-danger p-3 d-flex align-items-center signupbtn font-w500"
                (click)="coreService.navigateToRoute('/login')">
          Get started
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
